* {
  box-sizing: border-box;
}

body {
  font-size: 120%;
  font-family: 'Caveat', cursive;
}

a {
  color: black;
  text-decoration: none;
}

h1 {
  font-size: 1.75em;
  font-weight: bold;
  width: fit-content;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
}

.box{
  margin: 10px;
  border: 3px solid black;
  background-color: #a3a3a3;
  overflow: hidden;
  float: left;
  width: calc(100% - 20px);
}

p.info {
  text-align: center;
}

.row {
  width: 100%;
}

@media (min-width: 992px) {
  .col-lg-1 {
    width: calc(33.33% - 20px);
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1 {
    width: calc(50% - 20px);
  }
}