 body {
    font-size: 16px;
    font-family: 'Caveat', cursive, sans-serif;
  }
  
  .container {
    padding: 0;
  } 
  /** HEADER **/
  #header-nav {
    background-color: grey;
    border: 2px solid black;
    border-radius: 0;
  }
  
  .navbar-title {
    padding-top: 25px;
  }
  
  .navbar-title h1 { /* Title */
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    margin: 10px 15px 10px 0;
    line-height: .75;
  }
  
  #nav-list {
    margin-top: 10px;
    margin-bottom: 0px;
  }
  
  #nav-list li {
    text-align: center;
    font-weight: bold;
    background: white;
    border: 2px solid black;
    font-size: 1.8em;
  }
  
  #nav-list li:hover {
    background: red;
  }
  
  .navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 2px solid #000;
  }
  
  .navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
  }

  .navbar-header button.navbar-toggle:hover {
    background: red;
  }
  
  .container .jumbotron {
      background: grey;
  }
  
  @media (min-width: 1200px) {  
  }
  
  @media (min-width: 992px) and (max-width: 1199px) {
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
  }
  
  @media (max-width: 767px) {
  }
  
  @media (max-width: 479px) {
  }
  
  
    