body {
    font-size: 16px;
    font-family: 'Caveat', cursive, sans-serif;
  }
  
  /** HEADER **/
  #header-nav {
    background-color: grey;
    border-radius: 0;
    border: 0;
  }
  
  .navbar-title {
    padding-top: 25px;
  }
  
  .navbar-title h1 { /* Title */
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
  }
  
  #nav-list {
    margin-top: 10px;
  }
  
  #nav-list div {
    text-align: center;
    font-weight: bold;
    font-size: 1.8em;
  }
  
  #nav-list div:hover {
    background: #e7e7e7;
  }
  
  .navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #000;
  }
  
  .navbar-header button.navbar-toggle {
    clear: both;
    margin-top: -30px;
  }
  
  .container .jumbotron {
      background: grey;
  }
  
  @media (min-width: 1200px) {  
  }
  
  @media (min-width: 992px) and (max-width: 1199px) {
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
  }
  
  @media (max-width: 767px) {
    .navbar-brand {
      padding-top: 10px;
      height: 80px;
    }
  
    .navbar-brand h1 {
      padding-top: 10px;
      font-size: 5vw;
    }
  
    .navbar-brand p {
      font-size: .6em;
      margin-top: 12px;
    }
  
    .navbar-brand p img {
      height: 20px;
    }
  
    #xs-deliver {
      margin-top: 5px;
      font-size: .7em;
      letter-spacing: .1em;
      text-transform: uppercase;
    }
  
    .panel-footer section {
      margin-bottom: 30px;
      text-align: center;
    }
  
    .panel-footer section:nth-child(3) {
      margin-bottom: 0;
    }
  
    .panel-footer section hr {
      width: 50%
    }
  
    .container .jumbotron {
      background: grey;
      margin-top: 30px;
      padding: 0;
    }
  
  }
  
  @media (max-width: 479px) {
  
    .navbar-brand h1 {
      padding-top: 5px;
      font-size: 6vw;
    }
  
    #menu-tile, #specials-tile {
      width: 280px;
      margin: 0 auto 15px;
    }
  }
  
  
    