* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Caveat', cursive, sans-serif;
}

.nav {
  padding: 0px;
  margin: 0;
}

/** HEADER **/
#header-nav {
  background-color: grey;
  border: 2px solid black;
  border-radius: 0;
}

.navbar-title {
  float: left;
}

.navbar-title h1 {
  color: black;
  font-size: 1.7em;
  font-weight: bold;
  line-height: .75;
  margin-bottom: 18px;
  margin-left: 15px;
}

h2 {
  font-size: 1.75em;
  font-weight: bold;
  width: fit-content;
  margin-bottom: 30px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

#nav-list li {
  text-align: center;
  font-weight: 500;
  background: white;
  border: 2px solid black;
  font-size: 1.5em;
}

#nav-list li:hover {
  background: red;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 2px solid #000;
}

.navbar-header button.navbar-toggle:hover {
  background: red;
}

.menu-tile {
  background: grey;
  margin-bottom: 15px;
  text-align: center;
  font-weight: 600;
  overflow: hidden;
}

.menu-tile p {
  font-weight: 500;
  text-align: left;
  margin: 10px;
  overflow: hidden;
}

@media (min-width: 1200px) {
  #nav-list {
    display: none;
  }
  


}

@media (min-width: 992px) and (max-width: 1199px) {
  #nav-list {
    display: none;
  }

}

@media (min-width: 768px) and (max-width: 991px) {
  #nav-list {
    display: none;
  }

}

@media (max-width: 767px) {

}

@media (max-width: 479px) {

}


  