  * {
    box-sizing: border-box;
    box-sizing: margin-box;
  }

  h1 {
    font-size: 2em;
    width: fit-content;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .box{
    margin: 10px;
    border: solid black;
    background-color: #a3a3a3;
    overflow: hidden;
    float: left;
  }

  div.title {
    float: right;
    width: 100px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    border: solid black;
    border-right-width: 0px;
    border-top-width: 0px;
    font-size: 1.5em;
    color: black;
  }

  p.info {
    float: left;
    clear: both;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
  }

  #item1 {
    color: black;
    background-color: palevioletred;
  }

  #item2 {
    color: white;
    background-color: brown;
  }

  #item3 {
    color: black;
    background-color: burlywood;
  }

  .row {
    width: 100%;
  }

  @media (min-width: 992px) {
    .col-lg-1 {
      width: calc(33.33% - 20px);
    }
  }
  
  @media (min-width: 768px) and (max-width: 991px) {
    .col-md-1 {
      width: calc(50% - 20px);
    }
  }